body {
    font-family: Arial, sans-serif;
    background-image: url('minimal-abstract-background-5k-hi.jpg');
    background-size: contain;
    background-image: url('abstract-dark-colorful-digital-art-yi-3840x2400.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 80%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    font-size: 24px;
    color: #333;
}
form {
    margin-top: 20px;
}
.option {
    display: block;
    margin: 10px 0;
}
.button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.button:hover {
    background-color: #2980b9;
}